/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto; /*выставляет див с этим классом по центру в его родителе*/
}
header {
    background-color: black;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
    align-items: flex-end;
    justify-content: space-between;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}
.header__item:last-child { /*убрали отсуп у последнего элемента списка*/
    margin-right: 0;
}
